/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('https://i.imgur.com/B58jQNu.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

/* ICONOS */
.icon {
  width: 80px;
  height: 80px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.icon img {
  width: 100%;
  height: auto;
  display: block;
}
.icon span {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.icon:hover span {
  color: #00bfff;
}

/* BARRA DE TAREAS */
#taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #0078d7;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

#taskbar .start {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#taskbar .start img {
  width: 30px;
  height: auto;
}

#taskbar .clock {
  margin-right: 15px;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

